$large_device : 'only screen and (min-width: 1200px)';
$medium_device : 'only screen and (min-width:992px) and (max-width:1199px)';
$tab_device : 'only screen and (min-width:767px) and (max-width:991px)';
$small_device : 'only screen and (max-width:766px)';

