@import "var";
@import "midea";

*{
    list-style: none;
    text-decoration: none;
}
nav{
    position: relative;
}
.slide{
    @media#{$small_device}{
        position: fixed;
        top: 124px;
        left: -70vw;
        background: $defolt-color;
        height: 100%;
        width: 70vw;
        transition: .3s;
        overflow-y: scroll;
    }
    li{
        display: inline-block;
        margin-left: 40px;
        padding: 50px 0;
        position: relative;
        @media#{$small_device}{
            display:block;
            border-bottom: 1px solid rgba(238, 238, 238, 0.281);
            margin: 0;
            padding: 30px 30px ;
        }
        .submenu{
            position: absolute;
            background: #000000bd;
            width: 200px;
            top: 120%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            li{
                padding: 20px 20px;
                margin: 0;
                display: block;
                border-bottom: 1px solid #4c4c4c;
                a{
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }
        a{
            font-size: 18px;
            font-weight: bold;
            color: #cfcfd8;
        }
        &:hover .submenu{
            opacity: 1;
            visibility: visible;
            top:100%;
        }
        &:hover>a{
            color: #ff7ba4;
        }
    }
}
.add-slide{
    left: 0;
}
nav{
    background: $defolt-color;
    width: 100%;
}
.container{
    width: 1140px;
    margin: auto;
    @media#{$small_device}{
        width: 98%;
    }
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-btn{

    i{
        color: #cfcfd8;
        margin: 50px 0;
        display: none;  
        font-size: 25px;
        z-index: 9999999999999999;
        cursor: pointer;
    }
    .fa-bars{

        @media#{$small_device}{
            display: block;
        }
    }
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: black;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.add-overlay{
    opacity: .5;
    visibility: visible;
}